html, body {
  margin: 0;
  padding: 0;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

html {
  background: url("images/background.png");
  background-size: cover;
  background-repeat: no-repeat;
}

body {
    width: 50vw;
    height: 50vh;
    margin: 0 auto;
}

#title {
  display: block;
  margin: auto;
  margin-top: 15vh;
}

#action-bubble {
  margin: 0 auto;
  height: 31vh;
  width: 10vw;
  min-width: 550px;
  min-height: 400px;
  display: fixed;
  text-align: center;
  background: url('images/action-bubble.png') no-repeat center;
  border: rgba(0, 0, 0, 0) 1px solid;
}

#quote-text {
  width: 400px;
  height: 100px;
  margin: 0 auto;
  margin-top: 105px;
  padding-top: 0px;
  color: #cc0000;
  font-style: italic;
  font-weight: bold;
  font-size: 22px;
}

#get-quote {
  width: 100px;
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
  padding: 15px 40px 15px 40px;
  background-color: red;
  color: white;
}