html, body {
  margin: 0;
  padding: 0;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

html {
  background: url("images/background.png");
  background-size: cover;
  background-repeat: no-repeat;
}

body {
    width: 50vw;
    height: 50vh;
    margin: 0 auto;
}

#title {
  display: block;
  margin: auto;
  margin-top: 15vh;
}

#action-bubble {
  margin: 0 auto;
  height: 31vh;
  width: 10vw;
  min-width: 550px;
  min-height: 400px;
  display: fixed;
  text-align: center;
  background: url('images/action-bubble.png') no-repeat center;
  border: rgba(0, 0, 0, 0) 1px solid;
}

#quote-text {
  width: 10vw;
  height: 3vh;
  max-width: 275px;
  max-height: 125px;
  margin: 0 auto;
  margin-top: 125px;
  color: #cc0000;
  font-style: italic;
  font-weight: bold;
  font-size: 20px;
}

#buttons {
  margin: auto;
  text-align: center;
  margin-left: -50px;
}

#getQuote {
  margin-left: 5px;
  margin-right: 10px;
  padding: 15px 40px 15px 40px;
}

#tweet {
  margin-left: 0px;
  padding: 15px 40px 15px 40px;
}