html, body {
  margin: 0;
  padding: 0;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

html {
  background: url("images/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
}

#title {
  display: block;
  margin: auto;
  margin-top: 10vh;
}

#action-bubble {
  width: 550px;
  height: 415px;
  margin: 0 auto;
  display: fixed;
  text-align: center;
  background: url('images/action-bubble.png') no-repeat center;
  border: rgba(0, 0, 0, 0) 1px solid;
}

#quote-text {
  width: 400px;
  height: 100px;
  margin-top: 100px;
  margin-left: 65px;
  padding-top: 0px;
  color: #cc0000;
  font-style: italic;
  font-weight: bold;
  font-size: 22px;
}

#get-quote {
  width: 110px;
  font-size: 20px;
  font-weight: bold;
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
  padding: 15px 40px 15px 40px;
  background-color: rgb(251, 194, 0);
  color: rgb(193, 39, 45);
  border-width: 4px;
  border-color: rgb(193, 39, 45);
  border-radius:2rem;
  border-style: solid;
  box-shadow: 
      0px 1px 5px 0px rgba(0,0,0,0.2), 
      0px 2px 2px 0px rgba(0,0,0,0.14), 
      0px 3px 1px -2px rgba(0,0,0,0.12);
  -webkit-user-select: none;    
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}

#get-quote:hover {
  color: rgb(251, 194, 0);
  background-color: rgb(193, 39, 45);
  border-color: rgb(251, 194, 0);
}

#get-quote:active {
  width: 90px;
  height: 20px;
  margin-top: 55px;
  font-size: 16px;
}